* {
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-decoration: none;
    font-size: medium; 
    background-repeat: none;
}
body {
    background-image: url("pozadina.jpg");
}

.nav {
    font-size: medum;
    display: inline-flex;;
    color: white;
}

.nav header { font-size: large; color: white; text-decoration: double; position: sticky;}

.onama {
    padding:20px;
    font-style: bold;  
    color:olive;
}

img {
    height: 100px;
    width: 200px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

.kontakt {
    color:olive;
}

 
