* {
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:olive;
    text-decoration: none;
    font-size: medium;
}
body {
    background-image: url("pozadina.jpg");
}

#nav {
    font-size: medum;
    display: inline-flex;;
    color: white;
}

#nav header { font-size: large; color: white; text-decoration: double; position: sticky;}

.onama {
    padding:20px;
    font-style: bold;   
}

img {
    height: 100px;
    width: 200px;
    position: center;
}

.kontakt {
    color: #444;
}

 
